<h1>Your links</h1>
<ul id="links">
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    <% link.tags.each do |tag| %>
      Tag: <%= tag.name%>
    <% end %>
  </li>
  <% end %>
</ul>
