/* CSS

1. Main

/* Variables */
$grey: #E1E1E1;
$black: #000000;
$blue: #00b7ff;


/* 1. Main */
body {
    background: $grey;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

    .box {
        padding: 1em;
        align-self: center;
        margin: auto;
        align-content:center;
        text-align:center;
    }
}
